<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>created</title>
  <!--Style Sheet-->
  <link rel="stylesheet" href="css/createEventstyle.css">
</head>

<body>
  <div class="top"></div>
  <div class="main">
    <div class="heading">
      <b>Create Event</b>
    </div>
    <div id="hr"></div>
    <div class="row">
      <div class="col-lg-6">
        <p style="text-align : center ; font-family: 'Montserrat'; font-size: 2rem ">Your form is created.</h1>
        <p style="text-align : center ; font-family: 'Montserrat'; font-size: 1.5rem ">Event ID : <%= eventid %></h1>
        <p style="text-align : center ; font-family: 'Montserrat'; font-size: 1.5rem ">Event Name : <%= event %></h1>
        <p style="text-align : center ; font-family: 'Montserrat'; font-size: 1.5rem"><strong>Please save Event Id for future use.</strong></p>
      </div>
    </div>
  </div>
</body>

</html>
